#viewTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#viewTable td, #viewTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#viewTable tr:nth-child(even){background-color: #f2f2f2;}

#viewTable tr:hover {background-color: #ddd;}

#viewTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #37ef93;
    color: white;
}